<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam beatae eos facilis eveniet explicabo ut cumque, nulla minus tempore impedit enim voluptatibus quod, quisquam aliquam ea culpa ex eaque qui!</p>
