<% provide(:title, "Dashboard") %>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt reprehenderit, neque iste, voluptatem debitis reiciendis autem architecto ratione consequatur aliquid sint cupiditate nisi rem nesciunt quos atque labore sapiente. Expedita!</p>