<div class="">
	<footer class="">
		<ul class="container-fluid">
			<%= link_to "<li>About</li>".html_safe, about_path, class: "footer-ul" %>
			<%= link_to "<li>Help</li>".html_safe, help_path, class: "footer-ul" %>
			<%= link_to "<li>Contact</li>".html_safe, contact_path, class: "footer-ul" %>
		</ul>
		<!--<div>Taza Corp 2015</div>-->
	</footer>
</div>