<div class="">
		<header>
			<nav class="navbar navbar-default navbar-static-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed navbar-header-form-btn" data-toggle="collapse" data-target="#navbar-1" aria-expanded="false">
							<span class="sr-only">Menu</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
							<%= link_to (image_tag("logo 2.0.png", class: "navbar-header-img navbar-header-img", height: "50")), root_path, class: "navbar-brand" %>
					</div>

					<div class="collapse navbar-collapse navbar-collapse-correction" id="navbar-1">
						<form action="" class="navbar-form navbar-right navbar-header-form">
							<div class="form-group">
								<input type="text" class="form-control form-control-correction input-sm" placeholder="Email">
							</div>
							<div class="form-group">
								<input type="password" class="form-control form-control-correction input-sm" placeholder="Contraseña">
							</div>
							<button class="btn btn-default navbar-btn btn-sm navbar-form-btn btn-correction">Log In</button>
						</form>
					</div>
				</div>
			</nav>
		</header>
	</div>